<div>
    <form action="/api/users/sendEmailToResetPassword" method="post" enctype="application/x-www-form-urlencoded">
        <label for="_email">Email:</label>
        <input type="email" name="email" id="_email" required>
        <button type="submit">Send email</button>
    </form>
</div>
