<div style="display: flex;justify-content: space-around; font-weight: 600; margin: 1.2rem; background-color: #8080808f; padding: 1rem">
    {{#if isNotLoggedIn}}
    <a href="/login">Login</a>
    <a href="/emailToSendResetPassword">Reset password</a>
    <a href="/register">Register</a>
    {{/if}}

    {{#if isLoggedIn}}
    <a href="/">Inicio</a>
    <a href="/profile">My Profile</a>
    <a href="/products">Products</a>
    
    {{#if isNotAdmin}}
    <a href="/cart">Cart</a>
    {{#if isPremium}}
    <a href="/productsManager">My Products</a>
    {{/if}}
    {{/if}}
    
    {{#if isAdmin}}
    <a href="/productsManager">Product Manager</a>
    <a href="/usersManager">Users Manager</a>
    {{/if}}

    <a href="/api/session/logout" style="color: #ff3232;">Logout</a>
    {{/if}}
</div>
