<div>
    <form action="/api/session/resetPassword" method="post" enctype="application/x-www-form-urlencoded">
    <label for="_email">Email:</label>
    <input type="email" name="email" id="_email" required="true">

    <label for="_pass">New Password:</label>
    <input type="password" name="password" id="_pass" required="true">

    <button type="submit">Reset password</button>
    </form>
</div>