<div>
    <form action="/api/users/resetPassword" method="post" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="token" value="{{token}}">
        <label for="_pass">New Password:</label>
        <input type="password" name="password" id="_pass" required>
        <button type="submit">Reset password</button>
    </form>
</div>
