<div style="max-width: 500px; margin: 2rem auto; padding: 2rem; background-color: #ffffff; box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1); border-radius: 8px;">
    <style>
        a {
            color: white;
            margin: 0 15px;
            text-decoration: none;
            font-size: 18px;
            padding: 8px 16px;
            border-radius: 5px;
            transition: background-color 0.3s ease, transform 0.2s ease;
        }

        a:hover {
            background-color: #45a049;
            transform: scale(1.1);
            text-decoration: underline;
        }

        a.logout:hover {
            background-color: #e63939;
            transform: scale(1.1);
        }
    </style>
    <h2 style="text-align: center; color: #1976D2; font-size: 1.5rem; margin-bottom: 1.5rem;">Restablecer Contrase침a</h2>
    
    <form action="/api/users/resetPassword" method="post" enctype="application/x-www-form-urlencoded" style="display: flex; flex-direction: column; gap: 1.5rem;">
        
        <!-- Token oculto para la validaci칩n del formulario -->
        <input type="hidden" name="token" value="{{token}}">
        
        <label for="_pass" style="font-size: 1rem; color: #333;">Nueva Contrase침a:</label>
        <input type="password" name="password" id="_pass" required style="padding: 0.8rem; border: 1px solid #ddd; border-radius: 5px; font-size: 1rem; color: #333;">

        <button type="submit" style="padding: 0.8rem 1.5rem; background-color: #1976D2; color: white; border: none; border-radius: 5px; font-size: 1rem; cursor: pointer; transition: background-color 0.3s ease;">
            Restablecer Contrase침a
        </button>
    </form>
</div>
